<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>company login </title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <!-- 導覽列 -->
        <div class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">MIS club</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/index/">index</a></li>
                        <li> <a href="/about/">about us </a></li>
                        <li class="active"><a href="/company_login/">company</a></li>
                        <li><a href="/member_login/">student</a></li>
                        <li><a href="/job/">job</a></li>
                    </ul>
        
                </div>
            </div>
    <!-- 登入 -->
    
    <form action="/company_login_action/" method="POST">
    
        <input type="text" name="username" placeholder="company name">
        <input type="password" name="password"> 
        <button type="submit">summit</button>
        {% csrf_token %}
    </form>

    <br>
    <input type="button" onclick="location.href='/company_signup/'" value="註冊">
</body>
</html>