<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MIS club</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index/">index</a></li>
                <li> <a href="/about/">about us </a></li>
                <li><a href="/company_login/">company</a></li>
                <li><a href="/member_login/">student</a></li>
                <li><a href="/job/">job</a></li>
            </ul>

        </div>
    </div>
</body>

</html>